{% load static %}
{% load djangovue %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Django-Vue</title>

	{% load_vuejs %}
	{% load_djangovue_plugin %}

	{% render_link_tag 'bootstrap' %}
	{% render_link_tag 'bootstrap-vue' %}

	{% render_script_tag 'axios' %}
	{% render_script_tag 'polyfill' %}
	{% render_script_tag 'bootstrap-vue' %}

	<style>
		[v-cloak] {
			display: none;
		}

		.fade-enter-active, .fade-leave-active {
		  transition: opacity .5s;
		}
		.fade-enter, .fade-leave-to {
		  opacity: 0;
		}

    .grid-container {
      display: grid;
      grid-template-rows: 1;
      grid-template-columns: 1;
      min-height: 60px;
      align-items: center;
      background-color: dodgerblue;
      position: sticky;
      top: 0px;
      z-index: 10;
    }

    .nav-bar {
      grid-row: 1;
      grid-column: 1;
      padding-left: 10px;
    }

    .link {
      margin-left: 20px;
      color: rgba(255, 255, 255, 0.75);
    }

    .link:hover {
      text-decoration: none;
      color: white;
    }

    .link.active {
      color: white;
    }
	</style>
	{% block styles %}{% endblock styles %}
</head>
<body>
	<section id="nav" class="grid-container">
    <nav ref="navBar" class="nav-bar">
      <a class="link" :class="isActive({% url 'forms' %})" href="{% url 'forms' %}">Forms</a>
      <a class="link" :class="isActive({% url 'templating' %})" href="{% url 'templating' %}">Templating</a>
    </nav>
  </section>

	<br><br>
	<div class="container-fluid">
		{% block content %}{% endblock content %}
	</div>

	<script>
		new Vue({
			name: "NavBar",
			el: "#nav",
      methods: {
        /*
         * Sets the active class on the nav item.
         */
        isActive(url) {
          return url.toString() === location.pathname.toString() ? "active" : "";
        }
      },
		});
	</script>
</body>
