{% extends 'example/base.html' %}
{% load crispy_forms_tags %}
{% load djangovue %}

{% block content %}
<div class="container">
	<div id="userForm" v-cloak>
		<transition name="fade" appear>
			<form ref="form">
				{% csrf_token %}

				{{ userform|crispy }}

				<button :disabled="submitDisabled" class="btn btn-primary">Submit</button>
			</form>
		</transition>
	</div>
</div>

<script>
	Vue.use(djangovue.DjangoVue);

  new Vue({
    name: "SimpleForm",
    el: "#userForm",
    computed: {
      submitDisabled() {
        let conds = [
          this.username.length == 0,
          this.user.first_name.length == 0,
          this.user.last_name.length == 0,
          this.user.gender.length == 0,
          this.user.bio.length == 0,
          this.example_select_1.length == 0,
          this.example_select_2.length == 0,
        ];

        return conds.some(condition => condition === true);
      }
    }
  });
</script>
{% endblock content %}
