{% extends 'example/base.html' %}
{% load djangovue %}

{% block styles %}
<style>
  {{ context.styles }}
</style>

<style>
  .code-container {
    display: grid;
    grid-template-columns: 2;
    margin-left: 20px;
    margin-right: 20px;
  }

  .code-window {
    grid-column: 1;
  }

  .output-window {
    grid-column: 2;
  }

  .output {
    margin: 10px;
  }
</style>
{% endblock styles %}

{% block content %}
{% djangovue on %}
<div id="app" class="container-fluid">
  <transition name="fade" appear>

    <section class="code-container">
      <section class="code-window">
        <code style="font-size: 8;">
           {% autoescape off %}
             {{ context.template }}
           {% endautoescape off %}
        </code>
      </section>
      <section class="output-window">
        <div class="border output">
          <p class="display-4">{{ context.vue }}</p>
          <div class="border output">
            <p class="display-4">{{ context.django }}</p>
            <div class="border output">
              <p class="display-4">{{ context.vue }}</p>
            </div>
          </div>
        </div>
      </section>
    </section>

  </transition>
</div>
{% enddjangovue on %}

{{ context|json_script:"server-context" }}

<script>
  new Vue({
    el: '#app',
    name: "DjangoVue",
    data: {
        context: {
        django: "",
        vue: "",
      },
    },
    mounted: function() {
      Object.assign(
        this.context,
        JSON.parse(document.getElementById('server-context').textContent)
      );
    },
});
</script>
{% endblock content %}
