<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<script src="../static/djangovue/djangovue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<h1>DjangoVue</h1>
		<hr>

		<form>
			<p>
				<input
					placeholder="First name"
					type="text"
					v-model="user.first_name"
					value="Bradley"
					:disabled="disable">
			</p>
			<p>
				<input
					placeholder="Last name"
					type="text"
					v-model="user.last_name"
					value="Kirton"
					:disabled="disable">
			</p>

			<p>
				<label for="male">Male</label>
				<input
					id="male"
					type="radio"
					name="gender"
					value="male"
					checked
          v-model="user.gender"
					:disabled="disable">
				<label for="female">Female</label>
				<input
					id="female"
					type="radio"
					name="gender"
					value="female"
					v-model="user.gender"
					:disabled="disable">
			</p>

			<p>
				<label for="language">Favourite programming language</label>
				<select
					name="language"
					id="language"
					v-model="user.language"
					:disabled="disable">
					<option value="sql">SQL</option>
					<option value="javascript">Javascript</option>
					<option value="python" selected>Python</option>
				</select>
			</p>

			<p>
				<label for="languages">Languages you know</label>
				<select
					name="languages"
					id="languages"
					v-model="user.languages"
					multiple
					:disabled="disable">
					<option value="python">Python</option>
					<option value="javascript">Javascript</option>
					<option value="sql">SQL</option>
				</select>
			</p>

			<p>
				<label for="date">Date</label>
				<input id="date" type="date" v-model="date">
			</p>
		</form>

			<p>
				<label for="checkbox">Disable form</label>
				<input id="checkbox" type="checkbox" value="false" v-model="disable">
			</p>

			<button @click="handleSubmit">Submit</button>
		</form>

		<div v-if="submitted">
			<p>Date: {{ date }}</p>
			<p>First name: {{ user.first_name }}</p>
			<p>Last name: {{ user.last_name }}</p>
			<p>Gender: {{ user.gender }}</p>
			<p>Favourite language: {{ user.language }}</p>
			<p>Other languages</p>
			<ul>
				<li v-for="language in user.languages">
					{{ language }}
				</li>
			</ul>
		</div>

		<hr>
		<div>
			<h1>{{ requestStatus }}</h1>
			<p>
				status: {{ resp == null ? "" : resp.status }}
			</p>
		</div>
	</div>

	<script>
		document.addEventListener("DOMContentLoaded", () => {
			Vue.use(djangovue.DjangoVue)
			new Vue({
				name: "Application",
				el: "#app",
				data: {
					resp: "",
					requesting: false,
					submitted: false,
				},
				computed: {
					requestStatus() {
						return this.requesting == true ? "Requesting..." : "Done";
					}
				},
				methods: {
					handleSubmit() {
						console.log("here")
						this.submitted = true;
					}
				},
				created() {
					this.requesting = true;
					this.$http.get("http://websocketd.com/")
						.then(resp => {
							this.resp = resp;
							this.requesting = false;
						})
				}
			});
		});
	</script>
</body>
</html>
